html, body {
  background-color: #264653;
  width: 100%;
  height: 100%;
}

.constraint {
  width: 1200px;
  margin: auto;
}

/* LOGIN PAGE */

.login-body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin-top: 25vh;
}

.login-body h1 {
  color: #E9C46A;
}

.login-body form {
  width: 40%;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

.login-body input {
  width: 75%;
  padding: 12px;
  margin: 8px;
  border-radius: 15px;
  border: 1px solid #E9C46A;
  background-color: #3B5864;
}

.login-body button {
  width: 20%;
  margin: 8px;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  background-color: #E9C46A;
  border: none;
}

.errors {
  color: darkred;
}

/* LANDING PAGE */

.landing {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
}

.lcontain {
  width: 47%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.lcontain h1 {
  color: #E9C46A;
  text-align: center;
  width: 40%;
  font-size: 40px;
}

.lcontain button {
  width: 20%;
  margin: 10px;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  background-color: #E9C46A;
  border: 2px solid #3B5864;
  font-size: 25px;
  color: #3B5864;
  -webkit-box-shadow: 9px 9px 20px -12px rgba(0,0,0,0.65);
  -moz-box-shadow: 9px 9px 20px -12px rgba(0,0,0,0.65);
  box-shadow: 9px 9px 20px -12px rgba(0,0,0,0.65);
}

.limage {
  width: 50%;
  height: 100%;
  background-image: url('../content/market4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-right: 2px solid #E9C46A;
}

/* DASHBOARD */

.dash {
  width: 100%;
  background-color: #264653;
  display: flex;
  flex-flow: column wrap;
  border-bottom: 2px solid #E9C46A;
}

.header {
  width: 100%;
  background-color: #3B5864;

}

.header h1 {
  color: #E9C46A;
  text-align: center;
  font-size: 2em;
}

.button-contain {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}

.button-contain button {
  border: 4px solid #264653;
  background-color: #E9C46A;
  color: #264653;
  border-radius: 50px;
  width: 12%;
  padding: 1%;
  font-size: 3vh;
  white-space: nowrap;
}

.avi-contain {
  width: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.avi-contain label{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  color: #E9C46A;
  margin-top: 8px;
}

.avi-contain button {
  text-align: center;
  border-radius: 50%;
  width: 75px;
  padding: 7%;
  margin: 2%;
}

#avi {
  width: 350px;
  height: 350px;
  background-color: #3B5864;
  border-radius: 50%;
  border: 4px solid #E9C46A;
<<<<<<< HEAD:src/App.css
  background-image: url("./content/luci.jpg")
}

@media screen and (max-width: 600px) {
  .button-contain{ 
    height: 50vh;
    justify-content: space-evenly;
  }
  .button-contain button { 
    width: 40%;
    padding: 3%;
  }
  #avi {
    display: none;
  }
  .avi-contain {
    width: 100%;
  }
  .avi-contain button {
    padding: 7%;
  }
  .avi-contain label {
    font-size: 1em; 
  }
}

/*Item */

.market-item {
  background-color: #3B5864;
  border-radius: 16px;
  margin: 1em 1em 1em 1em;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20%;
  box-shadow: 10px 15px 15px #407185;
}

.market-item h3 {
  color: #E9C46A;
  text-transform: uppercase;
}

.item-bottom {
  background-color: #264653;
  border-radius: 0px 0px 16px 16px;
  border: 1px #E9C46A solid;
  color: #E9C46A;
  padding: 1em;
} 

@media (max-width: 1350px) {
 .market-item {
     width: 25%;
 }
}


@media (max-width: 900px) {
  .market-item {
      width: 50%;
  }
}

/* Item List */

.ItemsList {
  display: flex;
  justify-content: space-between;
}

.ItemsList header {
  background-color: #3B5864;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-bottom: 30%;
  color: #E9C46A;
}


.market-labels select {
  background-color: #1EC7C1;
  border: 1px solid #E9C46A;
  border-radius: 15px;
  margin-left: 1em;
  margin-top: 2em;
}

.ItemsList button {
  width: 35%;
  margin: 4em;
  padding: 1em;
  border-radius: 15px;
  text-align: center;
  background-color: #E9C46A;
  border: none;
}

.items {
  background-color: #264653;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  align-content: flex-start;
}


@media (max-width: 1300px) {
  .market-labels select {
      margin-left: 0em;
  }
}

@media (max-width:1200px) {
  .ItemsList {
      flex-direction: column;
  }

  .ItemsList header {
      width: 100%;
      padding-bottom: 0%;
  }

  .items {
      justify-content: center;
      width: 100%;
  }

  .market-labels select {
      margin-left: 2em;
  }
}

/* New Item Form */

.newItem-form {
  background-color: #3B5864;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  color: #E9C46A;
  box-shadow: 10px 15px 15px #407185;
  margin-bottom: 5em;
  padding-bottom: 2em;
  border-radius: 16px;
}

.newItem-form h3 {
  text-transform: uppercase;
}

.newItem-label {
  text-transform: uppercase;
}

.newItem-label input {
  width: 75%;
  border-radius: 15px;
  border: 1px solid #E9C46A;
  background-color: #1EC7C1;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em 6em 1em 1em;
  
}

.newItem-label select {
  background-color: #1EC7C1;
  border: 1px solid #E9C46A;
  border-radius: 15px;
  margin-left: 5em;
  margin-top: 1em;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.newItem-label #location {
  margin-left: 5.2em;
}

.newItem-label textarea {
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: #1EC7C1;
  border: 1px solid #E9C46A;
  border-radius: 8px;
  resize: none;
  width: 97%;
  text-justify: newspaper;
}

.newItem-form button {
  width: 30%;
  border-radius: 15px;
  text-align: center;
  background-color: #E9C46A;
  border: none;
  padding: 1em;
  margin-left: 10em;
}

@media (max-width:1200px) {
  .newItem-label input {
      width: 60%;
      margin-left: 2em;
  }

  .label-text {
      margin-left: 2em;
  }

  .newItem-label select {
      margin-left: 2em;
  }

  .newItem-label #location {
      margin-left: 2.2em;
  }

  .newItem-label textarea {
      width: 80%;
      margin-left: 2em;
  }

  .newItem-form button {
      width: 25%;
  }
}

@media (max-width: 900px) {

  .newItem-form {
      width: 90%;
  }

}

/*Sign Up*/


.signup-body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin-top: 25vh;
}

.signup-body h1 {
  color: #E9C46A;
}

.signup-body form {
  width: 40%;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

.signup-body input {
  width: 75%;
  padding: 12px;
  margin: 8px;
  border-radius: 15px;
  border: 1px solid #E9C46A;
  background-color: #3B5864;
}

.signup-body button {
  width: 20%;
  margin: 0.6em;
  padding: 0.8em;
  border-radius: 15px;
  text-align: center;
  background-color: #E9C46A;
  border: none;
}

@media (max-width: 900px) {
  .signup-body button {
      width: 40%;
  }
}


/*About */

.about-page {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.about-person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
}

.about-img img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  border: 2px #E9C46A solid;
}

.about-person h1 {
  text-align: center;
  color: #E9C46A;
}

.about-text {
  text-align: center;
  background-color: #E9C46A;
  color: #264653;
  border-radius: 8px;
}


=======
  background-image: url("../content/luci.jpg")
}
>>>>>>> b5d5d5e25ffa8f2b0f61587569668279cfa4d2cb:src/style/App.css
