
.signup-body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin-top: 25vh;
  }
  
  .signup-body h1 {
    color: #E9C46A;
  }
  
  .signup-body form {
    width: 40%;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
  }
  
  .signup-body input {
    width: 75%;
    padding: 12px;
    margin: 8px;
    border-radius: 15px;
    border: 1px solid #E9C46A;
    background-color: #3B5864;
  }
  
  .signup-body button {
    width: 20%;
    margin: 0.6em;
    padding: 0.8em;
    border-radius: 15px;
    text-align: center;
    background-color: #E9C46A;
    border: none;
  }

.errors {
    color: darkred;
}

@media (max-width: 900px) {
    .signup-body button {
        width: 40%;
    }
}